<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">

  <!-- In Angular, you can access class variables of your component
        using {{ varname }} like so: -->
  <h1>
    Welcome to {{ title }}!
  </h1>

  <ul>
    <!--
      Loop over every item in our tasks array, and create a new ListItem
        component using the value of the task.
    -->
    <app-list-item *ngFor='let t of tasks' [task]="t.value">
    </app-list-item>
  </ul>

  <!--
       This creates a new input box by the id 'newtask'.
       When the enter key is pressed, it will call the addTask() method with
        the value in the textbox and reset the contents inside the text box.
  -->
  <input #newTask (keyup.enter)="addTask(newTask.value); newTask.value = ''">
  
  <!--
      As above, but this button performs the same actuon when clicked.
  -->
  <button (click)="addTask(newTask.value); newTask.value = ''">Add</button>
</div>
